@using UniversityContracts.ViewModels
@model List<ReportTeacherViewModel>
@{
    ViewData["Title"] = "Report by teachers and students";
}

<div class="text-center">
    <h2 class="display-4">@ViewData["Title"]</h2>
</div>

<form method="post">
    <div class="row">
        <div class="col-8 btn-group"></div>
        <div class="col-4 mt-2">
            <form method="post">
                <input type="hidden" name="type" value="docx" />
                <input type="submit" value="Save in Word" class="btn btn-primary" />
            </form>

            <form method="post">
                <input type="hidden" name="type" value="xlsx" />
                <input type="submit" value="Save in Excel" class="btn btn-success" />
            </form>
        </div>
        <div class="col-4 mt-2">
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Teacher name</th>
                <th>Student</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.TeacherId
                    </td>
                    <td>
                        @item.TeacherName
                    </td>
                    <td>
                        @foreach (var (Name, PhoneNumber) in item.Students)
                        {
                            <div>@Name</div>
                            <div>@PhoneNumber</div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>