@using UniversityContracts.ViewModels
@model List<TeacherViewModel>
@{
    ViewData["Title"] = "Manage Teachers";
}

<div class="text-center">
    <h2 class="display-4">@ViewData["Title"]</h2>
</div>


<form method="post">
    <div class="row">
        <div class="col-4">Name:</div>
        <div class="col-8">
            <input type="text" name="name" id="name" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-4">Academic Degree:</div>
        <div class="col-8">
            <input type="text" name="academicDegree" id="academicDegree" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-4">Position:</div>
        <div class="col-8">
            <input type="text" name="position" id="position" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
            <input type="submit" value="Create Teacher" class="btn btn-primary" />
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Academic Degree</th>
            <th>Position</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AcademicDegree)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
            </tr>
        }
    </tbody>
</table>


